.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

input,
button {
  width: 200px;
  height: 30px;
  font-size: 20px;
  margin: 5px;
}

@font-face {
  font-family: Roboto;
  src: url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap);
}

* {
  font-family: Roboto;
}